button {
  width: 200px;
  height: 100px;
  background-color: aqua;
  color: orange;
  transition-property: height;
  transition-duration: 7s;
  transition-delay: 10s;
  transition-timing-function: ease-in-out;
  float: right;
}
button:hover {
  height: 200px;
}
.image {
  background-image: url(istockphoto-1138395421-612x612.jpg);
  width: 612px;
  height: 408px;
  transition: all 5s ease-in-out 2s;
}
.image:hover {
  background-image: url(af8d63a477078732b79ff9d9fc60873f.jpg);
}
