.ingredients {
  color: blue;
}
.instructions {
  color: green;
}
#beurre {
  color: yellow;
}

h1 {
  color: #ffeaa7; /* CODE HEXADECIMAL CUSTOMS COLORS https://flatuicolors.com/palette/us */
}
body {
  background-color: #2d3436;
}
.carre {
  width: 200px;
  height: 150px;
  background-color: blue;
  border: solid red 2px;
  border-radius: 5px;
}
.carre p {
  color: white;
  font-size: large;
}
